
/*Colors definition*/
:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft_Magenta: hsl(300, 69%, 71%);
}

/*Font-family definition*/
html {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

background-color: var(--Violet);
}

/*Page styles*/



.background-img {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

.logo-img {
    position: relative;
    width: 40%;
    margin: 20px 30px;
}

.main.container {
    display: grid;
    grid-auto-rows: 1fr;
}

.main-img {
    position: relative;
    width: 77%;
    margin: 50px;
}

.tittle {
    position: relative;
    color: white;
    font-family: 'poppins';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    padding: 0 50px;
}

.text {
    color: white;
    font-family: 'open sans';
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    padding: 0 50px;
}

.button {
    position: relative;
    display: block;
    color: white;
    margin: 0 auto;
    border-radius: 30px;
    padding: 0.7rem 5rem;
}

.button a {
    font-size: small;
    color: var(--Violet);
    text-decoration: none;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px auto;
    width: 100%;
    place-items: center;
    
}

.fb-img   {
    margin: 10px;
}

.tw-img {
    margin: 10px;
}

.ig-img {
    margin: 10px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 1440px) {
    .main-container {
        display: grid;
        grid-template-columns: 2fr / 1fr;
        grid-template-rows: 1fr / 4fr / 1fr;
    }

    .logo-img {
        grid-area: 1/1/auto/span3;
        
        
    }

    .main-img {
        grid-area: 2/1;
    }

    footer {
        grid-row-start: 6;
        grid-row-end: 6;
    }
  }